#project-detail {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    h3 {
        margin-top: 5px;
        font-family: 'Exo', sans-serif;
        // font-size: 20px;
        font-weight: 500 !important;
        font-style: italic;
        text-align: center;
    }
    div {
        width: 90%;
        margin: auto;
    }
}

.project-links {
    width: 50% !important;
    margin-top: 10px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    text-align: center;
    font-size: 14px;
}

.project-image {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    img {
        width: 65%;
        margin: auto !important;
        max-width: 545px;
        max-height: 400px;
        border: solid 1px lightgray;
        margin-top: 10px;
    }
}

a {
    text-decoration: none;
}

@media (max-width:768px){
    .project-links {
        width: 80% !important;
    }
}